{{extend 'layout.html'}}

<style type="text/css">
	
.position {
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    padding-left: 10px;
}

</style>

<head>
	<title>Wishlist Wardrobe</title>
</head>
<body>
	<!-- Title Bar -->
	<div id="top">
        <div id="Logo">
            <img width="250" height="20" src="../static/images/Logo.png"/>
        </div>
    </div>
    <br>

<!-- Picture Box w/ Input -->
<div class="position" id="vue-div">
    <div>
        <!-- For Image Url -->
        <div>
            <p><small>Enter Image Url</small></p>
            <div class="border">
                <input v-model="picture" type="text" name="imageUrl" size="20"/>
            </div>
            <br>
            <button>enter</button>
        </div>
        <br>

        <!-- For Page Url -->
        <div>
            <p><small>Enter Page Url</small></p>
            <div class="border">
                <input v-model="url" type="text" name="pageUrl"/>
            </div>
            <br>
            <button v-on:click="enter_url">enter</button>
        </div>

        <!-- Enter Item Name -->
        <br>
        <div class="border">
            <textarea>Enter Item Name</textarea>
        </div>
        <br>
        <button>enter</button>

        <!-- Enter Item Price-->
        <br>
        <div class="border">
            <textarea>Enter Item Price</textarea>
        </div>
        <br>
        <button>enter</button>
    </div>

    <!-- Displays image onto box -->
    <div>
        <div v-if="picture != '' " class="boxed">
            <img v-bind:src="picture" height="150px" width="150px"/>
        </div>
        <div v-if="picture == '' " class="boxed">
            <img height="100px" width="100%"/>
        </div>
    </div>


</div>

</body>

 
{{block head}}
{{end}}

<script src="{{=URL('static', 'js/default_index.js')}}"


{{block head}}
{{end}}


