{{extend 'layout.html'}}

<style type="text/css">
	
.position {
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    padding-left: 10px;
    height: 100%;
}

.buttonTop {
  margin-top: 10px;
  display: inline-block;
}

</style>

<head>
	<title>Wishlist Wardrobe</title>
</head>
<body>
	<!-- Title Bar -->
	<div id="top">
        <div id="Logo">
            <img width="250" height="20" src="../static/images/Logo.png"/>
        </div>
    </div>
    <br>

<!-- Picture Box w/ Input -->
<div class="position" id="vue-div">
    <div>
        <!-- For Image Url -->
        <div>
            <p><small>Enter Image Url</small></p>
            <input class="border" v-model="picture" type="text" name="imageUrl"/>
            <br>  
        </div>
        <br>

        <!-- For Page Url -->
        <div>
            <p><small>Enter Page Url</small></p>
            <input class="border" v-model="url" type="text" name="pageUrl"/>
            <br>
        </div>
        <br>

        <!-- Enter Item Name -->
        <div >
            <p><small>Enter Item Name</small></p>
            <textarea class="border"></textarea>
        </div>
        <br>

        <!-- Enter Item Price-->
        <div>
            <p><small>Enter Item Price</small></p>
            <textarea class="border"></textarea>
        </div>

        <!-- To save all items / Show Webpage-->
        <button class="buttonTop">Save</button>
        <button class="buttonTop" v-on:click="enter_url">Show Webpage</button>
    </div>

    <!-- Displays image onto box -->
    <div>
        <div v-if="picture != '' " class="boxed">
            <img v-bind:src="picture" height="275px" width="220px"/>
        </div>
        <div v-if="picture == '' " class="boxed">
            <img height="100px" width="100%"/>
        </div>
    </div>


</div>

</body>

 
{{block head}}
{{end}}

<script src="{{=URL('static', 'js/default_index.js')}}"


{{block head}}
{{end}}


