{{extend 'layout.html'}}

<!-- Linking to myapp.css 
<link href="static/css/myapp.css" rel="stylesheet" type="text/css"/>
-->
<style type="text/css">
	
.position {
	display: grid;
}

</style>

<head>
	<title>Wishlist Wardrobe</title>
</head>
<body>
	<!-- Title Bar -->
	<div id="top">
        <div id="Logo">
            <img width="250" height="20" src="../static/images/Logo.png"/>
        </div>
    </div>
    <br>
<div class="container">
    <div>
        <div class="border">
            <input v-model="picture" type="text" name="imageUrl"/>
        </div>
    </div>
    <br>
    ${picture}
    <div class="boxed">
  		<img src="https://anf.scene7.com/is/image/anf/KIC_332-8513-0998-530_prod1?$product-hol-v1$&wid=800&hei=1000" height="100px"/>
	</div>
</div>
</body>

 
{{block head}}
{{end}}

<script src="{{=URL('static', 'js/default_index.js')}}"


