/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

#top {
    background-color: #000000;
    padding: 25px;
    position: relative;
}

#Logo {
    padding: 5px;
    position: absolute;
    bottom: 20%;
}

/* Example from https://stackoverflow.com/questions/32710982/how-to-set-the-border-per-side-for-an-input-box */
.border{
	border: 1px solid #000;
}

.boxed {
  border: 1px solid black ;
}